.screen {
  background-color: #e7d5c7;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.screen .div {
  background-color: #e7d5c7;
  overflow: hidden;
  width: 100vw;
  height: 4413px;
  position: relative;
}

.screen .overlap {
  position: absolute;
  width: 636px;
  height: 2261px;
  top: 1799px;
  left: 50%;
  transform: translateX(-50%);

}

.screen .ellipse {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 1016px;
  left: 40px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .ellipse-2 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 340px;
  left: 0;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .ellipse-3 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 0;
  left: 421px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .ellipse-4 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 710px;
  left: 376px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .group {
  position: absolute;
  width: 319px;
  height: 359px;
  top: 45px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .line {
  position: absolute;
  width: 71px;
  height: 1px;
  top: 15px;
  left: 0;
}

.screen .img {
  position: absolute;
  width: 74px;
  height: 1px;
  top: 15px;
  left: 245px;
}

.screen .text-wrapper {
  width: 163px;
  top: 0;
  left: 77px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  font-weight: 400;
}

.screen .line-2 {
  position: absolute;
  width: 2px;
  height: 281px;
  top: 77px;
  left: 158px;
}

.screen .element {
  width: 59px;
  top: 101px;
  left: 76px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .span {
  letter-spacing: 0px;
}

.screen .text-wrapper-2 {
  font-family: 'Bona Nova', serif;
  font-style: italic;
  font-size: 12px;
  letter-spacing: 0px;
}

.screen .p {
  width: 90px;
  top: 166px;
  left: 182px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .element-2 {
  width: 76px;
  top: 232px;
  left: 59px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .element-3 {
  width: 96px;
  top: 298px;
  left: 182px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .hands {
  height: 229px;
  top: 843px;
  position: absolute;
  width: 100vw;
  max-width: 450px;
  left: 50%;
  transform: translateX(-50%);
}
.screen .group-2 {
  position: absolute;
  width: 319px;
  height: 252px;
  top: 497px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .group-3 {
  position: absolute;
  width: 212px;
  height: 57px;
  top: 195px;
  left: 54px;
}

.screen .text-wrapper-3 {
  width: 163px;
  top: 0;
  left: 77px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  font-weight: 400;
}

.screen .div-2 {
  width: 305px;
  top: 77px;
  left: 9px;
  font-family: "Bona Nova", serif;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 19px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-4 {
  letter-spacing: -0px;
}

.screen .text-wrapper-5 {
  font-family: "Great Vibes", cursive;
  font-size: 19px;
  letter-spacing: -0px;
}

.screen .line-3 {
  position: absolute;
  width: 75px;
  height: 1px;
  top: 15px;
  left: 0;
}

.screen .line-4 {
  position: absolute;
  width: 76px;
  height: 1px;
  top: 15px;
  left: 243px;
}

.screen .group-4 {
  position: absolute;
  width: 319px;
  height: 525px;
  top: 1165px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .group-5 {
  position: absolute;
  width: 321px;
  height: 30px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-6 {
  width: 135px;
  top: 0;
  left: 91px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0px;
  line-height: 22px;
  position: absolute;
  font-weight: 400;
}

.screen .line-5 {
  position: absolute;
  width: 88px;
  height: 1px;
  top: 15px;
  left: 0;
}

.screen .line-6 {
  position: absolute;
  width: 88px;
  height: 1px;
  top: 15px;
  left: 231px;
}

.screen .text-wrapper-7 {
  width: 330px;
  top: 77px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bona Nova", serif;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-8 {
  width: 330px;
  top: 180px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bona Nova", serif;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-9 {
  width: 330px;
  top: 284px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bona Nova", serif;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-10 {
  width: 330px;
  top: 387px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bona Nova", serif;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-11 {
  position: absolute;
  width: 330px;
  top: 472px;
  left: 50%;
  transform: translateX(-50%);
  font-family: "Bona Nova", serif;
  font-weight: 400;
  color: #351c06;
  font-size: 15px;
  text-align: center;
  letter-spacing: -0px;
  line-height: 18px;
}

.screen .ellipse-5 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 154px;
  left: 157px;
  background-color: #351c068c;
  border-radius: 2px;
}

.screen .ellipse-6 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 259px;
  left: 157px;
  background-color: #351c068c;
  border-radius: 2px;
}

.screen .ellipse-7 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 362px;
  left: 157px;
  background-color: #351c068c;
  border-radius: 2px;
}

.screen .ellipse-8 {
  position: absolute;
  width: 4px;
  height: 4px;
  top: 447px;
  left: 157px;
  background-color: #351c068c;
  border-radius: 2px;
}

.screen .element-4 {
  position: absolute;
  width: 375px;
  height: 213px;
  top: 1799px;
  left: 135px;
  object-fit: cover;
}

.screen .group-6 {
  position: absolute;
  width: 321px;
  height: 118px;
  top: 1784px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .text-wrapper-12 {
  width: 142px;
  top: 0;
  left: 88px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 22px;
  position: absolute;
  font-weight: 400;
}

.screen .line-7 {
  position: absolute;
  width: 84px;
  height: 1px;
  top: 15px;
  left: 0;
}

.screen .line-8 {
  position: absolute;
  width: 84px;
  height: 1px;
  top: 15px;
  left: 234px;
}

.screen .adresse-marina {
  position: absolute;
  width: 300px;
  top: 94px;
  left: 30px;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 1px;
  line-height: 15px;
}

.screen .text-wrapper-13 {
  letter-spacing: 0px;
}

.screen .text-wrapper-14 {
  font-family: "Bona Nova", serif;
  font-size: 12px;
  letter-spacing: 0px;
}

.screen .group-7 {
  position: absolute;
  width: 319px;
  height: 169px;
  top: 2092px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .overlap-group {
  position: absolute;
  width: 287px;
  height: 66px;
  top: 0;
  left: 32px;
}

.screen .div-wrapper {
  position: absolute;
  width: 238px;
  height: 66px;
  top: 0;
  left: 0;
}

.screen .text-wrapper-15 {
  top: 0;
  left: 0;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 33px;
  position: absolute;
  font-weight: 400;
}

.screen .line-9 {
  position: absolute;
  width: 77px;
  height: 1px;
  top: 18px;
  left: 210px;
}

.screen .line-10 {
  position: absolute;
  width: 27px;
  height: 1px;
  top: 18px;
  left: 0;
}

.screen .group-8 {
  position: absolute;
  width: 319px;
  height: 56px;
  top: 112px;
  left: 12px;
}

.screen .text-wrapper-16 {
  width: 33px;
  top: 2px;
  left: 7px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .div-3 {
  width: 45px;
  top: 30px;
  left: 0;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-17 {
  letter-spacing: 0px;
}

.screen .text-wrapper-18 {
  font-family: "Bona Nova", serif;
  letter-spacing: 0px;
}

.screen .div-4 {
  width: 55px;
  top: 30px;
  left: 81px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .div-5 {
  width: 63px;
  top: 30px;
  left: 157px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .div-6 {
  width: 59px;
  top: 30px;
  left: 246px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-19 {
  width: 13px;
  top: 2px;
  left: 103px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-20 {
  width: 23px;
  top: 2px;
  left: 177px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-21 {
  width: 23px;
  top: 2px;
  left: 262px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-22 {
  width: 9px;
  top: 0;
  left: 67px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-23 {
  width: 9px;
  top: 0;
  left: 142px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-24 {
  width: 9px;
  top: 0;
  left: 227px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 33px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .ellipse-9 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 1684px;
  left: 425px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .ellipse-10 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 1997px;
  left: 9px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .overlap-2 {
  position: absolute;
  width: 566px;
  height: 361px;
  top: 1389px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .ellipse-11 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 0;
  left: 0;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .group-9 {
  position: absolute;
  width: 319px;
  height: 278px;
  top: 83px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .text-wrapper-25 {
  width: 46px;
  top: 71px;
  left: 1px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-26 {
  width: 46px;
  top: 71px;
  left: 47px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-27 {
  width: 46px;
  top: 71px;
  left: 93px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-28 {
  width: 45px;
  top: 71px;
  left: 138px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-29 {
  width: 46px;
  top: 71px;
  left: 182px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-30 {
  width: 46px;
  top: 71px;
  left: 227px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-31 {
  width: 46px;
  top: 71px;
  left: 273px;
  font-family: "Bona Nova", serif;
  color: #000000;
  font-size: 12px;
  text-align: center;
  letter-spacing: 0px;
  line-height: 23px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-32 {
  width: 121px;
  top: 0;
  left: 98px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 47px;
  letter-spacing: 0;
  line-height: 22px;
  white-space: nowrap;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-33 {
  width: 7px;
  top: 102px;
  left: 202px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-34 {
  width: 7px;
  top: 102px;
  left: 247px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-35 {
  width: 7px;
  top: 102px;
  left: 293px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-36 {
  width: 12px;
  top: 138px;
  left: 291px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-37 {
  width: 12px;
  top: 138px;
  left: 246px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-38 {
  width: 7px;
  top: 138px;
  left: 202px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-39 {
  width: 7px;
  top: 138px;
  left: 159px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-40 {
  width: 7px;
  top: 138px;
  left: 115px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-41 {
  width: 7px;
  top: 138px;
  left: 66px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-42 {
  width: 7px;
  top: 138px;
  left: 20px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-43 {
  width: 9px;
  top: 182px;
  left: 19px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-44 {
  width: 12px;
  top: 182px;
  left: 63px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-45 {
  width: 12px;
  top: 182px;
  left: 112px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-46 {
  width: 12px;
  top: 182px;
  left: 156px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-47 {
  width: 11px;
  top: 182px;
  left: 199px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-48 {
  width: 11px;
  top: 182px;
  left: 245px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-49 {
  width: 11px;
  top: 182px;
  left: 291px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-50 {
  width: 15px;
  top: 225px;
  left: 244px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-51 {
  width: 14px;
  top: 225px;
  left: 289px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .overlap-group-2 {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 218px;
  left: 195px;
}

.screen .text-wrapper-52 {
  width: 16px;
  top: 7px;
  left: 5px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .vector {
  position: absolute;
  width: 26px;
  height: 25px;
  top: 1px;
  left: -2px;
}

.screen .text-wrapper-53 {
  width: 13px;
  top: 225px;
  left: 156px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-54 {
  width: 15px;
  top: 225px;
  left: 112px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-55 {
  width: 9px;
  top: 225px;
  left: 63px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-56 {
  width: 11px;
  top: 225px;
  left: 18px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-57 {
  width: 14px;
  top: 268px;
  left: 15px;
  font-family: "WindSong-Regular", italic;
  color: #351c06;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-58 {
  width: 14px;
  top: 268px;
  left: 61px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-59 {
  width: 14px;
  top: 268px;
  left: 111px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-60 {
  width: 14px;
  top: 268px;
  left: 155px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-61 {
  width: 14px;
  top: 268px;
  left: 198px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-62 {
  width: 13px;
  top: 268px;
  left: 243px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .text-wrapper-63 {
  width: 12px;
  top: 268px;
  left: 289px;
  font-family: "WindSong-Regular", italic;
  color: #000000;
  font-size: 12px;
  letter-spacing: 0;
  line-height: 11px;
  position: absolute;
  font-weight: 400;
  white-space: nowrap;
}

.screen .line-11 {
  position: absolute;
  width: 95px;
  height: 1px;
  top: 12px;
  left: 0;
}

.screen .line-12 {
  position: absolute;
  width: 95px;
  height: 1px;
  top: 12px;
  left: 224px;
}

.screen .overlap-3 {
  position: absolute;
  width: 550px;
  height: 1378px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.screen .ellipse-12 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 973px;
  left: 339px;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .ellipse-13 {
  position: absolute;
  width: 211px;
  height: 211px;
  top: 561px;
  left: 0;
  background-color: #bf9a7a4c;
  border-radius: 105px;
  filter: blur(46px);
}

.screen .hands-2 {
  height: 265px;
  top: 1113px;
  position: absolute;
  width: 100vw;
  max-width: 450px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .element-foto {
  position: relative;
  width: 100vw;
  max-width: 450px;
  height: 575px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.screen .group-10 {
  position: absolute;
  width: 180px;
  height: 527px;
  top: 19px;
  left: 109px;
}

.screen .text-wrapper-64 {
  position: absolute;
  width: 104px;
  top: 510px;
  left: 0;
  transform: rotate(0.27deg);
  font-family: "WindSong", cursive;
  font-weight: 500;
  color: #ebe1d5d1;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 23px;
  white-space: nowrap;
}

.screen .save {
  position: absolute;
  width: 164px;
  height: 117px;
  top: 0;
  left: 14px;
  object-fit: cover;

  opacity: 0;
  animation: fadeIn 2.5s ease-out forwards;
  animation-delay: 0.6s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}


.screen .group-11 {
  position: absolute;
  width: 319px;
  height: 431px;
  top: 588px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .div-7 {
  width: 305px;
  top: 252px;
  left: 50%;
  transform: translate(-50%);
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 38px;
  text-align: center;
  line-height: 18px;
  position: absolute;
  font-weight: 400;
}

.screen .text-wrapper-65 {
  letter-spacing: 0;
  line-height: 23px;
}

.screen .text-wrapper-66 {
  font-family: "Bona Nova-Bold", Helvetica;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 0px;
  line-height: 21px;
}

.screen .text-wrapper-67 {
  font-family: "Bona Nova", serif;
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 19px;
}

.screen .text-wrapper-68 {
  font-size: 15px;
  letter-spacing: 0px;
  line-height: 19px;
}

.screen .text-wrapper-69 {
  font-size: 19px;
  letter-spacing: 0px;
  line-height: 19px;
}

.screen .microfon {
  position: absolute;
  width: 28px;
  height: 19px;
  top: 0;
  left: 295px;
}

.screen .overlap-4 {
  position: absolute;
  width: 319px;
  height: 59px;
  top: 71px;
  left: 0;
}

.screen .line-13 {
  position: absolute;
  width: 142px;
  height: 1px;
  top: 29px;
  left: 0;
}

.screen .line-14 {
  position: absolute;
  width: 142px;
  height: 1px;
  top: 29px;
  left: 177px;
}

.screen .y-logo {
  position: absolute;
  width: 59px;
  height: 59px;
  top: 0;
  left: 130px;
  object-fit: cover;
}

.screen .text-wrapper-70 {
  width: 217px;
  top: 162px;
  left: 100px;
  font-family: "Great Vibes", cursive;
  color: #351c06;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0;
  line-height: 14px;
  position: absolute;
  font-weight: 400;
}

.screen .overlap-5 {
  position: absolute;
  width: 375px;
  height: 316px;
  top: 4097px;
  left: 50%;
  transform: translateX(-50%);
  
}

.screen .rectangle {
  position: absolute;
  width: 100vw;
  height: 120px;
  top: 246px;
  left: 50%;
  transform: translateX(-50%);
}

.screen .group-12 {
  position: absolute;
  width: 296px;
  height: 296px;
  top: 0;
  left: 39px;
}

.screen .rectangle-2 {
  position: absolute;
  width: 2344px;
  height: 398px;
  top: 3327px;
  left: 1771px;
}

  .audio-player {
    position: relative;
    width: 100%;
    height: 0;
  }
  
  .audio-player .play-icon {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;
    z-index: 2;
  }
  
  .audio-player .play-icon.fade-out {
    opacity: 0;
  }
