:root {
  --x-161618: rgba(22, 22, 24, 1);
  --x-282828: rgba(40, 40, 40, 1);
  --grey-1: rgba(213, 213, 213, 1);
  --orange-basic: rgba(255, 161, 52, 1);
  --x-0-5st-JJ: rgba(255, 255, 255, 1);
  --rhc-k1a: rgba(3, 3, 3, 1);
  --x: rgba(240, 240, 240, 1);
  --tj-1jwh: rgba(29, 29, 31, 1);
  --shaddow-item: 4px 4px 20px 0px rgba(0, 0, 0, 0.3);
}